<h2 class="page-header text-center">所有联系人</h2>
      <p class="text-center">
        <a href="#contacts/new" class="btn btn-lg btn-outline">新增联系人</a>
      </p>
      <ul class="media-list row contacts-container"></ul>